

# R session files
.Rhistory
.RData
.Rproj.user/
.Rproj.user
Dissertation_Git.Rproj
.DS_Store


# RStudio files
.Rproj.user/
*.Rproj

# OS files
.DS_Store
Thumbs.db

# PC suffixes 
*-wpc-*.Rhistory
-wpc*.Rhistory
*-wpc-*.RData
wpc-*.RData
*-wpc*.Rmd
*-wpc-*.Rmd
*wpc-*.Rmd
