

# R session files
.Rhistory
.RData
.Rproj.user/
.Rproj.user
Dissertation_Git.Rproj

# Catch machine-specific suffixes for R history
*-wpc-*.Rhistory
-wpc*.Rhistory
*-wpc-*.RData
wpc-*.RData
*-wpc*.Rmd
*-wpc-*.Rmd
*wpc-*.Rmd
