# Knitr figure output folders
**/EMA-preprocessing-report_files/
**/EMA-data-characteristics-report_files/

# R session artifacts
.Rhistory
.RData
.Rproj.user/

# OS files
.DS_Store
Thumbs.db

# Addressing syncing error between git and onedrive

*.html